# ROS 2 / Colcon
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo

# VS Code / Editors
.vscode/
*.swp

# OS junk
.DS_Store
Thumbs.db

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Other temp
*.tmp
*.bak
